# macOS
.DS_Store

# Archivos ocultos del proyecto
.hidden/
.vscode/
.venv

# LaTeX
.aux/
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
data/

# Clases y tareas
*.pt
*.pth
# *.pdf
# *.txt
# *.csv
# *.json
# *.npy
